
/*Base styles*/
 
/*Layout styles*/
 
/*Block styles*/








body {
    margin: 0;
    font-weight: san-serif;
}

audio,
canvas,
video {
    display: inline-block;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;
}